.options-sections-container {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  width: 100%;
  overflow-x: visible;
  padding: 0 1.5rem;

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 80%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 80%,
    transparent 100%
  );
}

.option-section {
  margin-bottom: 1.2rem;
  overflow: visible;
  h4 {
    margin-bottom: .4rem;
    font-size: 14px;
    text-align: left;
  }
}
