@use "../_mixins.scss" as *;

.optionsPanel {
  @include neo-card;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  height: auto!important;
  max-height: none!important;

  padding: 0;
  background-image: linear-gradient(320deg, #0f0f0f 0%, #1d1d1d 100%);
  box-shadow: 0px 15px 40px rgba(0,0,0,0.35);

  overflow: hidden;
  scroll-behavior: smooth;

  h3 {
    margin: 1.5rem 1.5rem 0 1.5rem;
  }
}


