.emoji-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(72px, 1fr));
  gap: 16px;
  grid-template-rows: 72px;
  & img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}
}