:root {
    --bg--primary: hsl(203, 7%, 92%);
    --bg--active: hsla(203, 86%, 93%, 0.7);
    --bg--hover: hsl(200, 7%, 84%);
    --bg--focus: hsl(203, 100%, 100%);
    --gray--primary: hsl(200, 10%, 50%);
    --gray--secondary: hsl(200, 14%, 30%);

    --dark--primary: hsl(203, 13%, 14%);
    --dark--secondary: hsl(203, 4%, 29%);

    --accent--primary: hsl(206, 90%, 56%);
    --accent--secondary: hsl(206, 79%, 58%);

    --expanded: 16.875rem;
    --collapsed: 3.25rem;
    --svg: 1.125rem;
    --item: 2.25rem;
    --brad-outer: 0.75rem;
    --frame-space: 0.5rem;
    --brad-inner: calc(var(--brad-outer) - var(--frame-space));
}

.menu-trigger {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: inline-block;
    & .menu-button {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #111;
        color: white;
        display: grid;
        place-items: center;
        border: none;
        cursor: pointer;
        transition: background 0.2s;
        padding: 0;
    }
    & .menu-dropdown {
        position: absolute;

        /* 游녢 ac치 decid칤s hacia d칩nde se despliega */
        top: 100%;        /* abajo del bot칩n */
        right: 0;
        left: -200px;         /* hacia la izquierda */

        margin-top: 8px;
        color: white;
        border-radius: 8px;
        padding: 1.3rem 2rem;

        display: flex;
        flex-direction: column;
        gap: 4px;
        background-image: linear-gradient(320deg, #0f0f0f 0%, #1d1d1d 100%);
        box-shadow:
            10px 10px 25px rgba(0, 0, 0, 0.6),
            -10px -10px 25px rgba(40, 40, 40, 0.4);
        border-radius: 2rem;
        & .menu-dropdown-section{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
            
            & .menu-links{
                border-radius: 0.5rem;
                text-decoration: none;
                color: white;
                font-weight: 500;
                transition: background 0.2s;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: .8rem;
                color: var(--gray--secondary);
                & a {
                    display: flex;
                    align-items: center;
                    min-width: 150px;
                    font-size: medium;
                    color: var(--gray--secondary);
                }
                &:hover {
                    cursor: pointer;
                    & svg{
                        color: #FECC00;
                    }
                    & a{
                        color: #FECC00;
                    }
                    & p{
                        color: #FECC00;
                    }
                }
                & .avaitable{
                    & svg{
                        color: var(--bg--primary);
                    }
                    & a{
                        color: var(--bg--primary);
                    }
                    & p{
                        color: var(--bg--primary);
                    }
                }
                & p{
                   margin: 0;
                }
            }
        }
    }
}

/* Bot칩n c칤rculo */


/* Men칰 desplegable */




