@use "../../styles/_mixins.scss" as *;

.qrGen.mainCard {
  @include neo-card;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: auto;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 2rem;
    z-index: -2;
    pointer-events: none;
    box-shadow: 20px 20px 60px #000000,
                -20px -20px 60px #151515;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .option-menu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: #9c9c9c;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #FECC00;
    }
  }

  .qr-code-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #151515;
    box-shadow: 3px 3px 7px #080808,
                -3px -3px 7px #222222;
    border-radius: 1rem;
    margin-bottom: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    @include control-input();
  }

  .generar-button {
    @include btn-dark(1rem, 0.6rem);
  }

  .descargar-button {
    @include btn-primary;
  }

  .disabled-button {
    @include btn-disabled;
  }
}
