.main-components-container {
  display: flex;
  align-items: stretch;
  height: 100%;
  & .row {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
}

.mainCard {
  width: 100%;
  max-width: 350px;
  height: auto;
  max-height: 600px;
  display: flex;
  justify-content: center;
  transition: transform .35s cubic-bezier(.4, 0, .2, 1);
}