// Mixins globales para la app TBWA
@mixin button {
  margin: .6rem 0;
}

// BOTÓN BASE
@mixin btn-base($margin-top: 0, $margin-bottom: .6rem) {
  @include button;
  width: 100%;
  background-color: transparent;
  padding: 0.618rem 1.618rem;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  border: 1px solid var(--border, #333);
  border-radius: 37px;
  box-shadow:
    3px 3px 7px #080808,
    -3px -3px 7px #222222;
  font-weight: 700;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  transition: all 0.3s ease-in-out;
}

// BOTÓN OSCURO
@mixin btn-dark($margin-top: 0, $margin-bottom: 0.6rem) {
  @include btn-base($margin-top, $margin-bottom);
  background: #151515;

  &:hover {
    background-color: var(--bg-light-2);
  }
}

// INPUT BASE
@mixin control-input($maxWidth: 186px) {
  @include button;
  background: #1c1c1c;
  border-radius: 1rem;
  padding: 0.618rem 1.618rem;
  border: 1px solid var(--border);
  box-shadow:
    inset 3px 3px 7px #080808,
    inset -3px -3px 7px #222222;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  width: 100%;
  max-width: $maxWidth;

  &:focus-visible {
    outline: 4px auto rgb(from #FECC00 r g b / 70%);
  }
}
// CARD BASE NEOMÓRFICA
@mixin neo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(320deg, #0f0f0f 0%, #1d1d1d 100%);
  border-radius: 2rem;
  padding: 1rem 2rem 2rem 2rem;
  /* Sombra externa suave */
  box-shadow:
    10px 10px 25px rgba(0, 0, 0, 0.6),
    -10px -10px 25px rgba(40, 40, 40, 0.4);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 2rem;
    pointer-events: none;

    /* Sombra neumórfica fuerte */
    box-shadow: 
      20px 20px 60px #000000,
      -20px -20px 60px #151515;

    z-index: -1;
  }
}

// GENERAR (botón oscuro)
@mixin btn-dark($margin-top: 0rem, $margin-bottom: 0.6rem) {
  @include btn-base($margin-top, $margin-bottom);
  background: #151515;

  &:hover {
    background-color: var(--bg-light-2);
  }
}

// DESCARGAR (botón amarillo)
@mixin btn-primary {
  @include btn-base; // sin márgenes extra
  color: #151515;
  background-image: linear-gradient(320deg, #FECC00 0%, #FECC00 100%);

  &:hover {
    background-image: linear-gradient(320deg, #FECC00 0%, #ffdd57 100%);
  }
}

// DESHABILITADO
@mixin btn-disabled {
  @include btn-base; // mismos paddings, sombras, etc.
  color: #151515;
  background-image: linear-gradient(320deg, #383838 0%, #383838 100%);
  cursor: auto;
}

@mixin checkbox{
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
    &::before {
      bottom: -6px;
      content: "";
      left: -6px;
      position: absolute;
      right: -6px;
      top: -6px;
    }
    &::after {
      transition: all 100ms ease-out;
    }
  &::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  // .checkbox-wrapper-2 input[type=checkbox] {
  //   cursor: default;
  // }

  &:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  &:checked {
    background-color: #FECC00;
  }

  &:checked::after {
    background-color: #fff;
    left: 13px;
  }

  // .checkbox-wrapper-2 :focus:not(.focus-visible) {
  //   outline: 0;
  // }

  &:checked:hover {
    background-color: #FECC00;
  }
}


