@use "./_mixins.scss" as *;

.genLayout {
  display: flex;
  position: relative;
gap: 1rem;
}

/* CARD PRINCIPAL */
.mainCard {
  flex: 0 0 250px; 
  transition: transform .35s cubic-bezier(.4,0,.2,1);
  z-index: 1;
  position: relative;
}



.genLayout--qr.closed .mainCard {
  transform: translateX(50%);
}

.genLayout--bar.closed .mainCard {
  transform: translateX(50%);
}

/* PANEL LATERAL */
.optionsPanel {
  width: 250px;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(101%);
  scale: .3;
  transition: transform .5s cubic-bezier(.4,0,.2,1), scale .5s cubic-bezier(.4,0,.2,1);
//   background: #111;
//   color: white;
//   padding: 1rem 2rem 2rem 2rem;
//   border-left: 1px solid #222;
// border-radius: 2rem;
  
  z-index: 0;
  background-image: linear-gradient(320deg, #0f0f0f 0%, #1d1d1d 100%);

  box-shadow:  20px 20px 60px #000000,
            -20px -20px 60px #151515;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:470px;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.optionsPanel.open {
  transform: translateX(0);
  scale: 1;
}

// .optionsPanel.closed {
//   transform: translateX(100%);
//   scale: .3;
// }

.panel-actions button{
    width: 100%;
    border-radius: 99px;
    color: #000000;
    background-image: linear-gradient(320deg, #FECC00 0%, #FECC00 100%);
    &:hover {
      background-image: linear-gradient(320deg, #FECC00 0%, #ffdd57 100%);
    }
}
.option-section{
    margin-bottom: 0px;
    & h4{
        margin-top: 0;
        text-align: left;
    }
}
.option-grid{
    display: flex;
    flex-direction: row;
}


