.page-container{
    & .main-layout{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 24px;
        gap: 24px;
        & .toolsPanel{
            display: none;
            gap: 16px;
            flex-direction: column;
            background-color: rgb(10, 10, 10);
            border-radius: 3rem;
            filter: drop-shadow(-10px 10px 15px Black);
            padding: 1rem;
        }
        & .toolsPanel.open{
            display: flex;
            max-height: 780px;
            overflow: hidden;
        }
    }
}