@use "@/styles/_mixins.scss" as *;

$bg: #0f0f0f;
$accent: #FECC00;

.edit-qr-page {
  min-height: 100vh;
  background: $bg;
  padding-bottom: 3rem;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  & .edit-qr-header {
    width: 100%;
    padding: 1.5rem 2rem 0 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & .header-content{
        border-radius: 999px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: rgba(33, 33, 33, 0.5);
        width: fit-content;
        padding: 1rem 3rem;
        gap: 1rem;
        & .title-section{
            display: flex;
            flex-direction: row;
            gap: .5rem;
            align-items: center;
            & .page-title{
                padding: 0;
                margin: 0;
                font-size: 1.3rem;
            }
        }
        & button{
            background: none;
            padding: 0;
            &:hover,:focus,:focus-visible,:active{
                outline: 1px solid transparent;
                border: 1px solid transparent;
                color: $accent;
            }
        }
    }
  }
  & .edit-qr-main{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 1.3rem;
    & .preview-panel,.edit-panel{
        background: rgba(33, 33, 33, 0.5);
        padding: 1.6rem;
        border-radius: 1rem
    }
    & .preview-panel{
        & .preview-container{
            & .qr-preview{
                @include qr-container;
            }
        }
    }
    & .edit-panel{

    }
  }
  & .edit-qr-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    & .cancel-button{
        @include btn-dark;
        width: auto;
    }
    & .save-button{
        @include btn-primary;
        width: auto;
    }
  }
}