@use "../../styles/_mixins.scss" as *;





.optionsPanel {
  @include neo-card;
  background: #1a1a1a;
  border-radius: 1.5rem;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.35);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #444 transparent;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #FECC00;
  }

  h3 {
    margin: 0 0 1rem 0;
  }

  .options-sections-container {
    height: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #444 transparent;
    padding: 1.5rem;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 10%,
        black 80%,
        transparent 100%
      );

      -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 10%,
        black 80%,
        transparent 100%
      );
    .option-section {
      margin-bottom: 1.2rem;

      h4 {
        margin-bottom: 0.4rem;
        font-size: 14px;
      }


    }
  }
  & .panel-actions {
    width: 100%;
    & button {
      width: 100%;
      padding: .8rem;
      border-radius: 999px;
      background: #FECC00;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

