@use "@/styles/_mixins.scss" as *;

$bg: #0f0f0f;
$card: #1a1a1a;
$accent: #FECC00;
$text: #fff;
$muted: #ffffff33;
$border: rgba(255,255,255,0.08);

.store-page {
  min-height: 100vh;
  background: $bg;
  padding-bottom: 3rem;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  & .store-topbar-container {
    width: 100%;
    padding: 1.5rem 2rem 0 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  & .store-grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
      & .store-grid {
        padding: 2rem;
        display: grid;
        gap: 1rem;
        align-items: center;
        width: clamp(300px, 100%, 1250px);
        & .qr-card {
          padding: 1rem;
          border-radius: 1.7rem;
          background: $card;
          transition: box-shadow 0.3s;
          height: clamp(150px, auto, 200px);
          display: flex;
          flex-direction: row;
          align-items: center;
          &:hover {
            box-shadow:
              8px 8px 14px rgba(0,0,0,0.3),
              -8px -8px 14px rgba(255,255,255,0.03);
          }

          & .qr-thumb {
            display: flex;
            justify-content: center;
            align-items: center;

            aspect-ratio: 1 / 1;
            width: clamp(80px, 10rem, 300px);
            flex-shrink: 0;
            margin-right: 1.6rem;
            & .qr-thumb-link{
              width: 100%;
              height: 100%;
              & .qr-thumb-svg {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                border-radius: 1.2rem;
                background: $bg;
                & .qr-thumb-svg{
                  width: 200px !important;
                  height: 200px !important;
                  & .qrcode-svg {
                  width: 200px !important;
                  height: 200px !important;
                }
                }
                &.neumorphic-inset {
                  box-shadow: 
                    inset 6px 6px 14px rgba(0,0,0,0.7),
                    inset -6px -6px 14px rgba(255,255,255,0.04);
                }
              }
            }
          }
          & .qr-data-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            flex: 1;
            & .qr-type {
              font-size: 0.6rem;
              background: $accent;
              color: $bg;
              font-weight: 600;
              padding: 0.25rem 0.7rem;
              border-radius: 1rem;
              margin-bottom: 0.5rem;
            }
            & .qr-name {
              font-weight: 600;
              color: $text;
              margin: 0;
            }
            & .qr-data-secondary {
              display: flex;
              flex-direction: row;
              align-items: center;
              flex-wrap: wrap;
              gap: 0.5rem;
              margin-top: 0.5rem;
              & .qr-dest {
                font-size: 0.6rem;
                opacity: 0.7;
                padding: 0.6rem 1rem;
                border-radius: 2rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: .4rem;
                cursor: pointer;
                & svg{

                }
                &.neumorphic-badge {
                  background: $muted;
                }
              }

              & .qr-date {
                font-size: 0.7rem;
                opacity: 0.6;
                display: flex;
                flex-direction: row;
                gap: .4rem;
                margin: 0;
              }
            }
            .danger {
              color: #ff4d4d;
            }
          }
          & .qr-actions {
              margin-top: 1rem;
              display: flex;
              gap: 0.6rem;
              flex-direction: column;
              & .qr-actions-download{
                @include btn_primary;
                font-size: 14px;
                display: flex;
                flex-direction: row;
                place-items: center;
                gap: .3rem;
              }

              & .qr-actions-sub{
                display: flex;
                flex-direction: row;
                gap: .6rem;
                & .qr-edit-btn, .dropdown-trigger {
                  flex: 1;
                  border-radius: 1rem;
                  background: $card;
                  color: $text;
                  font-size: 13px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: .3rem;
                  &.neumorphic-flat {
                    box-shadow: 
                      3px 3px 8px rgba(0,0,0,0.5),
                      -3px -3px 8px rgba(255,255,255,0.05);
                  }
                }
              }
            }
        }
      }
  }
}
