@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

@import "./styles/_mixins.scss";

*{
    box-sizing: border-box;
}
#root {
  text-align: center;
  font-family: 'Inter', sans-serif;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .credits{
  color: #666;
  margin-top: 1rem;
}

.logo {
  height: 150px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 9999px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #FECC00);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}